*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --blu: #0084FD;
    --purple: #9792e4;
    --light-blue: #b5ddff;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

html{
    font-family: 'PT Sans', sans-serif;
    line-height: 150%;
}

img{
    width: 100%;
    display: block;
}

/* header */

header{
    background-color: var(--blu);
}

header i.fa-bars{
    color: var(--white);
    font-size: 25px;
}

header ul{
    display: none;
    list-style-type: none;
}

header ul li a{
    color:var(--white);
    font-size: 18px;
    text-decoration: none;
}

header ul li:hover a{
    color: black;
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px 10px;
}


/* main */

.container{
    width: 80%;
    margin: 80px auto;
}

.container .flex{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-block: 30px;
}


main div .big-card{
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 50px 30px 0 30px;
}

main div .big-card > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}



.big-card h3,
.card h3{
    color: var(--blu);
    font-size: 25px;
    text-align: center;
}

.big-card p{
    color: #5A6E7F;
    font-weight: bold;
}

.big-card .button{
    background-color: var(--blu);
    border-radius: 20px;
    padding: 10px 50px;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
}

.big-card figure {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
.big-card figure img{
    width: 260px;
}



main div .small-card{
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

main div .card{
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.small-card p,
.card p{
    color: #5A6E7F;
    font-weight: bold;
    text-align: center;
}

.small-card i,
.card i{
    color: var(--blu);
    font-size: 80px;
}

main .planning{
    background-color: var(--purple);
}

.planning .container{
    padding-block: 50px;
}

.planning h2{
    color: var(--white);
    margin-block: 100px 70px;
    font-size: 30px;
    line-height: 120%;
}

.planning .container div:first-child p{
    color: var(--white);
    margin-bottom: 30px;
}

.planning .card2{
    background-color: var(--white);
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.planning .card2 p{
    text-align: center;
    font-style: italic;
}
.planning .card2 .arrow{
    background-color: var(--purple);
    border-radius: 50%;
    padding: 10px 15px;
    color: black;
}

main #testimonial{
    width: 80%;
    margin: 50px auto;
}

#testimonial div:first-child{
    text-align: center;
}

#testimonial span{
    text-transform: uppercase;
}

#testimonial h2{
    color: var(--purple);
    margin-block: 30px;
    font-size: 35px;
}

#testimonial p{
    font-size: 18px;
    line-height: 160%;
}

#testimonial .testimonial-card{
    background-color: var(--purple);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    margin-block: 30px;
    
}

#testimonial .testimonial-card .testimonial1{
    background-image: url(../img/testimonial1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 200px;
    height: 200px;
    margin: 0 auto;   
}

#testimonial .testimonial-card p{
    margin-block: 20px;
    color: var(--white);
    font-size: 20px;
}

#testimonial .testimonial-card cite{
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--white);
}

#testimonial .testimonial-card .testimonial2{
    background-image: url(../img/testimonial2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 200px;
    height: 200px;
    margin: 0 auto;   
}

#testimonial .testimonial-card .testimonial3{
    background-image: url(../img/testimonial3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 200px;
    height: 200px;
    margin: 0 auto;   
}

main #benefit{
    background-color: var(--purple);
}

main #benefit > h2{
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 30px;
    line-height: 150%;
}

main #benefit .flex-benefit{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

main #benefit .flex-benefit .benefit-card{
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px;
    margin-block: 30px;
}

main #benefit .flex-benefit .benefit-card h2{
    color: var(--purple);
    font-size: 50px;
}

main #benefit .flex-benefit .benefit-card h4{
    color: var(--purple);
    font-size: 25px;
    margin-block: 40px 30px;
    text-transform: capitalize;
}

main #benefit .flex-benefit .benefit-card p{
    color: grey;
    margin-bottom: 30px;
}

main #benefit .flex-benefit .benefit-card .more{
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
}

main .about{
    width: 80%;
    margin: 80px auto;
}

main .about h2{
    font-size: 50px;
    color: var(--purple);
    text-transform: capitalize;
    margin-bottom: 50px;
}

main .about div:first-child p{
    line-height: 200%;
    margin-block: 40px;
    font-size: 18px;
}

.about .about-img{
    background-image: url(../img/about.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
}

main .about .about-img i{
    color: var(--purple);
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

main .about div:nth-child(2) p{
    margin-block: 40px;
    line-height: 140%;
    font-size: 30px;
    font-weight: bold;
    color: var(--purple);
}
main .about div:nth-child(2) .linkedin{
    background-color: var(--purple);
    padding: 10px 15px;
    border-radius: 30px;
    color: var(--white);
    text-decoration: none;
}

main .about div:nth-child(2) .linkedin i{
    margin-right: 10px;
}


footer{
    background-color: var(--purple);
}

footer section{
    width: 80%;
    margin: 0 auto;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

footer section span:first-child{
    text-transform: uppercase;
    color: rgb(205, 205, 205);
    letter-spacing: 2px;
    font-size: 20px;
}

footer section h3{
    text-transform: capitalize;
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
}

footer section span:nth-child(3){
    color: #fdc15f;
    font-size: 60px;
    font-weight: bold;
}

footer section p,
footer section span:nth-child(6),
footer section span:nth-child(6) a{
    color: var(--white) ;
    text-align: center;
}

footer section .get-started{
    background-color: var(--white);
    color: var(--purple);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 80px;
    text-decoration: none;
    text-transform: capitalize;
}

footer section span:nth-child(6){
    color: var(--white);
}

footer > div{
    background-color: #333333;
}

footer > div div{
    width: 80%;
    margin: 0 auto;
    padding-block: 50px 30px;
}

footer > div div p{
    text-align: center;
    color: white;
    margin-bottom: 80px;
}

footer > div div p a{
    color: #7571A8;
}

/*  */
/*  */
/* media query */
/*  */
/*  */

/* tablet */

@media screen and (min-width: 576px){
    .container{
        width: 0%;
        margin: 60px auto 100px;
    }

    .container .flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    main div .card{
        width: calc((100% / 3) - 60px / 3);
    }
    main div .big-card{
        width: calc((100% / 3) * 2 - 40px / 2);
    }
    

    .planning h2{
        font-size: 70px;
    }

    .planning .card2 h3{
        font-size: 26px;
    }

    #testimonial .testimonial-card{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #testimonial .testimonial-card figure{
        flex-basis: 30%;
    }

    #testimonial .testimonial-card div{
        flex-basis: 70%;
        text-align: left;
    }

    main #benefit .flex-benefit{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    main #benefit .flex-benefit .benefit-card{
        flex-basis: calc(90% / 2);
        margin: 0;
    }

    main .about{
        display: flex;
        gap: 40px;
    }


}


/* desktop */

@media screen and (min-width: 768px){
    .container-header{
        width: 60%;
        margin: 0 auto;
    }
    header i.fa-bars{
        display: none;
    }

    header ul{
        display: flex;
        gap: 30px;
    }
    .container{
        width: 60%;
        margin: 60px auto 100px;
    }
    .container .flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    main div .card{
        width: calc((100% / 3) - 60px / 3);
    }
    
    main div .big-card{
        width: calc((100% / 3) * 2 - (40 / 2));
        display: flex;
        flex-direction: row;
       
    }

    

    main .planning .container{
        display: flex;
        align-items: flex-end;
        gap: 50px;
    }

    .planning h2{
        font-size: 30px;
    }

    .planning .container div{
        padding: 30px;
        width: calc( (100% / 2) - (50px / 2));
    }

    .planning .container div:first-child figure{
        margin: 0 auto;
        position: relative;
        top: -50px;
        
    }

    .planning .card2{
        padding: 20px 80px;
    }

    main #testimonial{
        width: 60%;
        margin: 50px auto;
    }

    #testimonial .testimonial-card figure{
        flex-basis: 20%;
    }

    #testimonial .testimonial-card div{
        flex-basis: 80%;
        text-align: left;
    }

    main #benefit .flex-benefit{
        width: 60%;
    }
    main #benefit .flex-benefit .benefit-card{
        width: calc(90% / 3);
        margin: 0;
    }

    main #benefit > h2{
        font-size: 50px;
    }

    main .about{
        width: 50%;
        gap: 80px;
        
    }

    main .about h2{
        font-size: 80px;

    }

    main .about div:first-child p{
        line-height: 250%;
        margin-block: 40px;
        font-size: 20px;
    }
}