*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --blu: #0084FD;
    --purple: #9792e4;
    --light-blue: #b5ddff;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

html{
    font-family: 'PT Sans', sans-serif;
    line-height: 150%;
}

img{
    width: 100%;
    display: block;
}
header{
    background-color: var(--blu);
}

header i.fa-bars{
    color: var(--white);
    font-size: 25px;
}

header ul{
    display: none;
    list-style-type: none;
}

header ul li a{
    color:var(--white);
    font-size: 18px;
    text-decoration: none;
}

header ul li:hover a{
    color: black;
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px 10px;
}
.container  > div{
    padding: 50px 30px; 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main div .big-card{
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 50px 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.big-card h3,
.card h3{
    color: var(--blu);
    font-size: 25px;
    text-align: center;
}

.big-card p{
    color: #5A6E7F;
    font-weight: bold;
}

.big-card .button{
    background-color: var(--blu);
    border-radius: 20px;
    padding: 10px 50px;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
}

.big-card figure img{
    position: relative;
    bottom: 0;
    width: 260px;
}

main div .card{
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.card p{
    color: #5A6E7F;
    font-weight: bold;
    text-align: center;
}


.card i{
    color: var(--blu);
    font-size: 80px;
}






















@media screen and (min-width: 480px){
    .container{
        width: 60%;
        margin: 0 auto;
    }
    .container  > div{
        display: flex;
        flex-direction: row;

        gap: 30px;
    }
}

@media screen and (min-width: 850px){
    .container-header{
        width: 60%;
        margin: 0 auto;
    }
    header i.fa-bars{
        display: none;
    }

    header ul{
        display: flex;
        gap: 30px;
    }
    .container{
        width: 60%;
        margin: 0 auto;
    }
    .container  > div{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    main div .big-card{
        flex-basis: (100% / 3);
    }

    main div .card{
        flex-basis: (100% / 3);
    }
}